@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
  --color-baseWhite:#FFFFFF;
  --color-baseBlack:#000000;
  --color-grey900:#101828;
  --color-grey800:#1D2939;
  --color-grey700:#344054;
  --color-grey600:#475467;
  --color-grey500:#667085;
  --color-grey400:#98A2B3;
  --color-grey300:#D0D5DD;
  --color-grey200:#EAECF0;
  --color-grey100:#F2F4F7;
  --color-grey50:#F9FAFB;
  --color-grey25:#FCFCFD;
  --color-primary25:#F5FAFF;
  --color-primary50:#EFF8FF;
  --color-promary100:#D1E9FF;
  --color-primary200:#B2DDFF;
  --color-primary300:#84CAFF;
  --color-primary400:#53B1FD;
  --color-primary500:#2E90FA;
  --color-primary600:#1570EF;
  --color-primary700:#175CD3;
  --color-primary800:#1849A9;
  --color-primary900:#194185;
  --font-weight-bold:700;
  --font-weight-semibold:600;
  --font-weight-medium:500;
  --font-weight-regular:400;
}
html {
	font-size: 100%;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
  width: 100%;
  line-height: 20px;
  font-weight: var(--font-weight-regular);
}

.App{
  margin: auto 112px;
  display:flex;
  flex-direction: column;
  height: 100%;
  padding: 0 32px;
}
/*home page*/
.profile{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 64px;
    margin-bottom: 32px;
    height: 15%;
}
.share{
  margin: auto;
  position: relative;
  top:22px;
  left:40%;
  width: 40px;
  height: 40px;
}
.share:before {
  /* content: attr(data-text);  */
  /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to left */
  right:100%;
  margin-right:8px; /* and add a small left margin */
  
  /* basic styles */
  width:100px;
  padding:8px 4px;
  border-radius:10px;
  background:var(--color-grey900);
  color: var(--color-baseWhite);
  text-align:center;
  z-index: 1;
  font-size: smaller;


  display:none; /* hide by default */
}
.share:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  right:100%;
  margin-right:-5px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:8px solid var(--color-grey900);
  border-color: transparent transparent transparent var(--color-grey900);
  
  display:none;
  z-index: 1;
}
.share:hover:before, .share:hover:after{
  display:block;
}
.share:active:before, .share:active:after{
  display:block;
}
.share:hover:before{
  content: "Share link";
}
.share:active:hover:before{
  content: "Link copied!";
}
.share:hover .share-overlay{
  cursor: pointer;
  opacity: .5;
  }
  



#share__img{
  display: block;
  width: 100%;
  height: 100%;
}
#sharemobile__img{
  display: none;
}
.share-overlay{
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3 ease;
  background:var(--color-grey300);
  border-radius: 50%;
}

.share:active .share-overlay{
  opacity: .5;
}
.profile-img{
  position: relative;
  max-width: 88px;
  max-height: 88px;
  margin-bottom: 24px;  
  border-radius: 50%;
}
img#profile__img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.overlay{
  position: absolute;
  max-width: 88px;
  max-height: 88px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  /* padding: 8px; */
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3 ease;
  background:linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75)), url(./images/camera.svg) no-repeat center 60px ;
}
.profile-img:hover .overlay{
  opacity: 1.2;
}

#twitter{
  color:var(--color-grey900);
  font-weight:var(--font-weight-bold)
}
#slack{
  display: none;
}
.links-container{
  margin-bottom: 24px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 60%;
}
a.link{
  background-color: var(--color-grey200);
  color: var(--color-grey900);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  width: 100%;
  padding: 16px 32px;
  margin-bottom: 24px;
  border-radius: 8px;
  text-align: center;
  height: 40px;
 }
 a.link:last-child{
  margin-bottom: 0;
 }
 a.link:hover{
  background-color: var(--color-grey300);
 }
 a.link:hover .subtext{
  display: block;
 }
 a.link:hover .space{
  display: none;
 }
 .subtext{
  margin-top: 5px;
    display:none;
    font-weight: var(--font-weight-regular);
    font-size: x-small;
    color: var(--color-grey800);
 }
 .subtext::first-letter{
  text-transform: capitalize;
}


 .socials-container{
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  padding: 24px 0;
 }
 .social-link{
  width: 24px;
  height: 24px;
  margin: 0 12px;
 }
 .footer{
  height: 15%;
  padding: 48px 0;
  width: 100%;

 }
 .border-top{
  width: 100%;
  border-top: 1px solid var(--color-grey200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .footer-link a{
  text-decoration: none;
 }

 .footer-link{
  margin: 0 16px;
  display: flex;
 }
a#footer-hng{
  color: var(--color-grey500);
  font-weight: var(--font-weight-medium);
  padding: 16px 0 0 0;
  align-self: flex-end;

}

#footer-zuri{
  max-height: 24.74px;
  max-width: 185.03px;
  align-self: flex-end;
}
#footer-i4g{
  max-height: 32px;
  max-width: 132.2px;
  align-self: flex-end;
}
/*contact page*/
.contact_page{
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  padding: 48px;
}
.heading{
  margin-bottom: 40px;
  font-weight:var( --font-weight-regular);
  line-height:30px;
  font-size: 16px;
  color: var(--color-grey600);
}
.heading_1{
  color: var(--color-grey900);
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 20px 0;
}
form{
  width:100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label{
  width: 100%;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey700);
  margin-bottom: 6px}

.form-field{
  margin-bottom:24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-field:first-child{
  margin-right: 24px;
}
.form-field:nth-child(4){
  flex-direction: row;
}
.fullname{
  width: 100%;
  display: flex;
  flex-direction: row;
}
input#agree{
  margin-right: 24px; 
  width: 16px;
  height: 16px;
}
button#submit:disabled{
  background-color: var(--color-primary200);
  border: 1px solid var(--color-primary200);
  color:var(--color-baseWhite);
  border-radius: 8px;
  padding: 12px 20px;
}
button#submit:valid{
  background-color: var(--color-primary600);
  border: 1px solid var(--color-primary600);
  color:var(--color-baseWhite);
  border-radius: 8px;
  padding: 12px 20px;
}

input, textarea{
 padding: 14px 10px;
 border-radius: 8px;
 border:1px solid var(--color-grey300)
}
textarea{
  height: 132px;
}
input:focus-visible,textarea:focus-visible{
  outline: none;
  border: 1px solid var(--color-primary300);
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}
input.is-invalid, textarea.is-invalid{
  border: 1px solid #F89687;
}
input:focus-visible.is-invalid,textarea:focus-visible.is-invalid{
  border: 1px solid #F89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;

}
.invalid-feedback{
  color:#F83F23;
  font-weight: var(--font-weight-regular);
  font-size: smaller;
}






/* Media Query For Tablet & phone */
@media only screen and (max-width: 955px) {
.App{
  margin: auto 32px;
  display:flex;
  flex-direction: column;
  height: 100%;
  padding: 0 ;

}


.profile{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 32px;
    margin-bottom: 32px;
    height: 15%;
}
a.link{
  background-color: var(--color-grey200);
  color: var(--color-grey900);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  width: 100%;
  height: 30px;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
 }
 .socials-container {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  padding: 24px 0;
}
 .footer{
  height: 15%;
  padding: 0;
  width: 100%;
  margin-top: 32px;

 }
 .border-top {
  width: 100%;
  border-top: 1px solid var(--color-grey200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .footer-link{
  width:100%;
  margin: 16px 16px;
  display: flex;
 }
 a#footer-hng {
  color: var(--color-grey500);
  font-weight: var(--font-weight-medium);
  padding: 16px 0 0 0;
  align-self: flex-end;
  white-space: nowrap;
  max-width: 213px;
}
#footer-zuri{
  max-height: 25px;
  max-width: 140px;
  align-self: flex-end;
}
#footer-i4g{
  max-height: 24px;
  max-width: 99.2px;
  align-self: flex-end;
}
#share__img{
  display: none;
}
#sharemobile__img{  
  display: block;
  width: 100%;
  height: 100%;
}
.share{
  margin: auto;
  position: relative;
  top:22px;
  left:50%;
  width: 40px;
  height: 40px;
}
.share:hover:before, .share:hover:after, .share:active:after{
  display:none;
}
.share:active:before{
  display:block;
  width: 56px;
  padding: 4px;
  font-size: xx-small;
  background:var(--color-grey200);
  color: var(--color-baseBlack);

}

.subtext{
    margin-top: 2px;
    font-weight: var(--font-weight-regular);
    font-size:xx-small ;
    color: var(--color-grey600);
    overflow: hidden;
 }
}